body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #000;
}

/* .title {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
} */

.loading-container {
    width: 100vw; 
    height: 100vh; 
    background-color: #000000;
    /* border-radius: 100px; */
    overflow: hidden;
    position: relative;
}

.loading-bar {
    height: 100%;
    width: 70%;
    background: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
    animation: loadingAnimation 10s infinite;
    transform-origin: left;
}

.loading-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: black;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    /* border: 10px solid rgb(0, 0, 0); */
    padding: 40px;
}





@keyframes loadingAnimation {
    0% {
        transform: scaleX(0);
    }
    50% {
        transform: scaleX(1.2);
    }
    100% {
        transform: scaleX(0);
    }
}

/*el linear gradiente se puede usar para fondos fijos tambien

@media only screen and (max-width: 900px) {
    .loading-container {
        width: 80vw;
        height: 15vh;
    }

    .loading-text {
        font-size: 30px;
        padding: 20px;
    }
}
*/

